# pypi distribuitions
dist

# virtual environments
venv*

# __pycache__ directories
__pycache__

# Jetbrains .idea folder
.idea

# images dir
images
*.zip

# genie model
genie_net.h5
genie_res.json

# client input images
*.jpg
*.jpeg