# pypi distribuitions
dist

# virtual environments
venv*

# __pycache__ directories
__pycache__

# Jetbrains .idea folder
.idea

# images dir
images
*.zip

# client input images
*.jpg
*.png

# cnn model files
*.h5