KAGGLE_USERNAME=<Kaggle username>
KAGGLE_KEY=<Kaggle API key>
FOOD_API_ID=<Edamam food API ID>
FOOD_API_SECRET=<Edamam food API secret>
RECIPES_API_ID=<Edamam recipes API ID>
RECIPES_API_SECRET=<Edamam recipes API secret>